{% extends 'base.html' %}

{% block content %}
<div>You must select a major.</div>

<h1 style="text-align: center;">{% block title %} View Students by Major {% endblock %}</h1>
<form method="post" style="text-align: center;">
    <label for="major">Choose Major:</label>
    <select id="major" name="major">
        <option value="">Select a Major</option>
        {% for major in major_list %}
            <option value="{{ major }}">{{ major }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit" />
</form>

{% for student in result_list %}
<div class="card" style="margin:16px;width: 16rem;">
    <img src="https://media.tenor.com/LV5XqMx-mlQAAAAC/dr-han-the-good-doctor.gif" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{student['last_name'] }}, {{ student['first_name'] }}</h5>
        <p class="card-text">GPA: {{ student['gpa'] }}</p>
        <p class="card-text">Major: {{ student['major'] }}</p>
        <p class="card-text">Student ID: {{ student['id'] }}</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            bruh
        </button>
        <button type="button" class="btn btn-danger" onclick="
        bruh(this.parentElement.parentElement);
        
        ">Expel</button>


    </div>
</div>
{% endfor %}

{% endblock %}